.header-font {
    color: white;
    text-align: center;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.header-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
  .header-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    position: relative;
    overflow: hidden;
  }

@media screen and (max-width: 1296px) {
  .header-home {
    height: auto;
  }

}

@media screen and (max-width: 759px) {
  .header-home {
    height: 400px;
  }
  .header-container {
    position: relative;
    top: -160px;

  }

}


.logo-container {
  margin-right: auto;
  flex-basis: 30%;
  max-width: 30%;
  height: 100%;
}

.navbar-container {
  margin-left: auto;
  margin-right: 8.3%;
  display: flex;
  align-items: center;
}


.header-banner {
    position: relative;
    width: 100%;
    height: 218px;
    top: 0;
    left: 0;
    background: #FFFFFF;
    z-index: 2;
    display: flex;

    justify-content: center;
    align-items: center;
}

#myVideo {
  width: 100%;
  height: auto;
}
    

  .logo {
    position: absolute;
    width: 392px;
    height: auto;
    left: 8.3%;
    top: 42px;
    max-width: 20%;
    max-height: auto;
    min-width: 200px;
  }

  .content-space {
    height: 154px;
  }
@media screen and (max-width: 974px) {
  .footer {
    flex-direction: column;
    flex-wrap: wrap;
    height:max-content;

  }
}

@media screen and (max-width: 759px) {
  .content-space {
    height: 20px;

  }
}


  .header-container {
    align-items: left;
    position: relative;
    z-index: 1;
    bottom: 300px;
    left: 8.3%;
    margin-right: 8.3%;

  }

.header-font {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.inline {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inline h2 {
  font-size: 25px;
  text-align: center;
}

.home-rule {
  color: white;
  max-width: 100%;
}

.hr-container {
  margin-right: 8.3%;
}

.special-text {
  position: relative;
  overflow: hidden;
  max-height: 400px;
  transition: max-height 1s ease;
  
  &.-expanded {
    max-height: none;
  }
}


.special-text-2 {
  position: relative;
  overflow: hidden;
  max-height: 400px;
  transition: max-height 1s ease;
  
  &.-expanded {
    max-height: none;
  }
}

.special-text:not(.-expanded)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.expand-button {
  cursor: pointer;
  display: block;
  width: 50%;

  
  
  
  
}

.special-text-2 {
  position: relative;
  overflow: hidden;
  max-height: 400px;
  transition: max-height 1s ease;
  
  &.-expanded {
    max-height: none;
  }
}

.special-text-2:not(.-expanded)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.expand-button-2 {
  cursor: pointer;
  display: block;
  width: 50%;

  
  
  
  
}



body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
 
}
footer {
  width: 100%;
  height: fit-content;
  background-color: black;
  color: white;
  text-align:center;
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 759px) {
  .footer {
    flex-direction: column;
    flex-wrap: wrap;
    height:max-content;

  }
}


.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 465px);
  grid-template-rows: repeat(3, 465px);
  grid-gap: 78px;
  margin-left: 8.3%;
  margin-right: 8.3%;
  

}

@media screen and (max-width: 1577px) {
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 465px);
    grid-template-rows: repeat(3, 465px);
    grid-gap: 78px;
    margin-left: 8.3%;
    margin-right: 8.3%;
    }

    .photo-grid-service {
      flex-wrap: wrap;
      margin-left: 8.3%;
      margin-right: 8.3%;
    }
  
}




@media screen and (max-width: 768px) {
  .photo-grid {
    display: flex;
    flex-direction: column;

    
  }

  .photo-grid-service {
    flex-direction: column;
  }
  .content-space {
    height: 75px;
  }
}

.photo-grid-service {
  display: flex;
  grid-gap: 78px;
  margin-left: 8.3%;
  margin-right: 8.3%;
  

}


.photo-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  min-height: 465px;
}

.photo-grid-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8.3%;
  margin-right: 8.3%;
}

.photo-grid img:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(206, 204, 204, 0.5); /* adjust the alpha value to change the transparency */
}

.photo-grid p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.photo-grid img:hover + p {
  opacity: 1;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  display: grid;
  grid-gap: 20px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom:100px;

}

@media screen and (max-width: 954px) {
  .footer-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;

  }
}


.footer-grid div:not(:last-child) {
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

@media screen and (max-width: 954px) {
  .footer-grid div:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid #ccc;

  }
}



.footer-container {
  display: flex;
}

.footer-text {
  font-weight: 600;
}

.grid-item-4 {
  display: flex;
  justify-content: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


/*Slide and fade in functionality */
.slide-up {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  z-index: 1;
  }

.slide-up.active {
  opacity: 1;
  transform: translateY(0);
  }


/*home page top bar*/

.nav-banner {
  position: absolute;
  width: 100%;
  height: 218px;
  top: 0;
  left: 0;
  background: #FFFFFF;
  z-index: 2;
}



/* hamburger animated  */

.hamburger .line{
  width: 50px;
  height: 5px;
  background-color: #000000;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: block;
  z-index: 999;
  position: relative;
}

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
  background-color: white;
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
  background-color: white;

}


.menu {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: white;
  text-align: right;
  

}

.menu ul {
  margin-right: 8.3%;
  font-size: 32px;
  position: relative;
  margin-top: 154px;
}

.menu li {

  display: block;
  padding-top: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: right;

}

.menu li a {

  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;

}

.menu-options {
  margin: 154px;
  padding: 0;
  text-align: right;
}


.menu-options li {
  display: block;
  padding-top: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
}

/**/ 

/*Photo overlay and text on Projects page*/ 


.image {
  position: relative;
  
}
.image img {
  width: 100%;
  vertical-align: top;
  object-fit: cover;
}
.image:after {
  content: '';
  position: absolute;
  width: 100%; 
  height: 100%;
  top: 0; 
  left: 0;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.image:hover:after {
  opacity: 1;
}
.image p {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.image:hover p {
  opacity: 1;
}

.image hr {
  width: 75%;
  color: white;
  opacity: 0;
  z-index: 1;
  position: absolute;
  transition: opacity 0.5s ease;
  top: 50%;
  left: 12.5%;

}

.image:hover hr {
  opacity: 1;
}


.image ul {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 75%;
  list-style: none;
  
}
.image:hover ul {
  opacity: 1;
}

.image li {
  padding-top: 8px;
}

/* Header menu text beside hamburger */

.menu-header {
  margin-right: 10px; /* Adjust as needed */
  display: flex;
  align-items: center;
}

.menu-header-text {
  text-decoration: underline;
  color: black; 
  font-weight: bold; 
  font-size: 18px;
  margin-right: 18px;
  line-height: 47px;
}

.menu-header-text-2 {
  text-decoration: underline;
  color: black; 
  font-weight: bold; 
  font-size: 18px;
  margin-right: 18px;
  line-height: 47px;
}


@media screen and (max-width: 767px) {
  .menu-header-text-2 {
    opacity: 0;
  }
}

/* 

Services page

*/

.service-heading {
  margin-top: 154px;
  position: relative;
  margin-bottom: 20px;
}
.service-heading h2 {
  margin-left: 8.3%;
}


figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-weight: bold;
  text-align: center;
  height: 20px;
  padding-top: 10px;
}

/* Contact Page */

.contact-box {
  height: 1078px;
  width: 84.4%;
  background-color: black;
  margin: auto;
  display: flex;
  flex-direction: column;

}

.contact-text {
  flex-wrap: wrap; 
  justify-content: space-between;
  position: relative;
  color: white;


}
.bold {
  font-weight: bold;
}

.flex-container { 

  margin-left: 8.3%;
  margin-top: 8.3%;


}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  
}


.flex-row > * {
  flex-basis: calc(50% - 10px);
  margin: 5px;
}

@media (max-width: 768px) {
  .flex-row > * {
    flex-basis: 100%;
  }
}

.col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col img {
  max-width: 30%;
  max-height: 30%;
}

.social-icons-contact {
  display: flex;
  align-items: center;
}


/*Safety Page*/

.safety-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 8.3%;
  margin-right: 8.3%;
}

.safety-img { 
    max-width: 900px;
    width: auto;
    height: auto;
  }


@media screen and (max-width: 1560px){
  .safety-grid {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
  .safety-img { 
    max-width: 200px;
    height: auto;
    min-width: 400px;
  }
  .box-text {
    text-align: left;
    max-width: 90vw;
    flex-wrap: wrap;
    margin-left: none;
  }

  .safety-strip {
    margin-right: none;
    max-height: 100vh;
    object-fit: cover;
    max-width: 20vw;
    margin-right: 10px;
  }
  .strip {
    max-width: 84%;
    margin-right: 8.3%;
    margin-left: 8.3%;
    justify-content: space-between;

  }

  .safety-intro {
    font-size: 16px;
  }
  

}

.safety-strip {
  margin-right: 10px;
}

.box-text {

  width: 456px;
  height: auto;
  text-align: justify;
  color: black;
  margin-left: 8.3%;
}

.safety-intro {
  margin-left: 8.3%;
  font-size: 20px;
}

.box-text p{
  font-size: 36px;
}





.cor {
  align-items: center;
  display: flex;
  justify-content: center;
}

.strip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.safetyText {
    word-wrap: break-word;
    max-width: 80%; /* Set the desired width */
    margin: 10 auto; /* Center the container horizontally */
}


.special-text-3 {
  position: relative;
  overflow: hidden;
  max-height: 100px;
  transition: max-height 1s ease;
  
  &.-expanded {
    max-height: none;
  }
}

.special-text-3:not(.-expanded)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}


.expand-button-3 {
  cursor: pointer;
  display: block;
  width: 50%;
  
}

.special-text-4 {
  position: relative;
  overflow: hidden;
  max-height: 100px;
  transition: max-height 1s ease;
  
  &.-expanded {
    max-height: none;
  }
}

.special-text-4:not(.-expanded)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}


.expand-button-4 {
  cursor: pointer;
  display: block;
  width: 50%;
  
}

.special-text-5 {
  position: relative;
  overflow: hidden;
  max-height: 100px;
  transition: max-height 1s ease;
  
  &.-expanded {
    max-height: none;
  }
}

.special-text-5:not(.-expanded)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}


.expand-button-5 {
  cursor: pointer;
  display: block;
  width: 50%;
  
}




/*About*/

.main{
  margin:8.3%;
}

.experts {
  font-size: 60px;
  font-weight: bold;
  margin-left: 8.3%;
}

.photo-grid-about-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 154px;
}

.about-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8.3%;
  margin-right: 8.3%;
  justify-content:space-between;
}


.associations {
  margin-left: 8.3%;
}

.horiz-logo {
  max-width: 400px;
  height: auto;
  padding: 10px;
}

.photo-grid-about {
  display: grid;
  grid-template-columns: repeat(3, 465px);
  grid-template-rows: repeat(2, 465px);
  grid-gap: 78px;
  margin-left: 8.3%;
  margin-right: 8.3%;
  

}

.logo-grid {
  justify-content: space-between;
  display: flex;
  margin-right: 8.3%

}

.photo-grid-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.containerAbout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* Two columns of equal width */
  grid-template-rows: 308px 308px 308px; /* Three rows with heights of 100px, 200px, and 300px */
}

.aboutIntro {
  font-size: 16px; 
  width: 700px; 
  margin-right: 8.3%; 
  margin-bottom: 0; 
  margin-top:0; 
  height: auto;
}

@media screen and (max-width: 756px) {

  .aboutIntro {
    font-size: 16px; 
    width: 100%; 
    margin-bottom: 0; 
    margin-top:0; 
    height: auto;
  }

  .about-grid {
    flex-direction: column;
    align-items: center;
  }

  .photo-grid-about {
    display: flex;
    flex-direction: column;
    grid-gap: 78px;
    
  
  }

  .experts {
    font-size: 30px;
    font-weight: bold;
  }
  
    
  
  

}

.itemAbout {
  grid-column: 5 / 6; /* This item spans two columns */
  grid-row: 1 / 2; /* This item spans two rows */
}

.square-logo {
  max-width: 225px;
  max-height: 225px;
  padding: 10px;
}


/* Home Page */

.home-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1450px) {
  .sub {
    opacity: 0;
  }
  .home-rule {
    opacity: 0;
  }

  .home-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
}



.item {
  display: flex;
  align-items:start;
  margin-bottom: 50px;
  width: 100%;
}

.item:nth-child(even) {
  flex-direction: row-reverse;
}

.item img {
  width: 924px;
  height: 616px;
  object-fit: cover;
}

.item .text {
  flex: 1;
  max-width: 684px;
  width: auto;
  margin-left: 8.3%;
  margin-right: auto;
  text-align: justify;
  flex-basis: calc(100% - 924px - 154px);
}
.item:first-child {
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
}

.item:first-child .text {
  margin-left: auto;
  margin-right: 154px;
}

@media screen and (max-width: 1450px) {
  .item {
    flex-direction: column;
  }
  
  .item img {
    width: 100%;
    height: auto;
  }
  
  .item .text {
    flex: 1;
    max-width: 100%;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    text-align: none;
    flex-basis: none;
  }
  .item:first-child {
    justify-content: none;
    margin-left: auto;
    margin-right: auto;
  }
  
  .item:first-child .text {
    margin-left: auto;
    margin-right: 10px;
  }
  .item:nth-child(even) {
    flex-direction: column;
  }
  
  }

.home-intro {
  font-size: 40px;
  font-weight: 400;
}

.home-text {
  font-size: 36px;
  font-weight: 400;

}

@media screen and (max-width: 754px) {
  .home-text {
    font-size: 20px;
  }

  .home-intro {
    font-size: 20px;
  }
}

.text h2 {
  font-weight: bold;
}

.text ul {
  font-size: 20px;
}

/*ESG*/

.esgBanner {
  position: relative;
  display: inline-block;
  min-height: 200px;
  margin-top:10px;
  clear: both;
}


.esgBanner img {
  width: 100%;
  height: auto;
  
}

.esgBanner h2 {
  color:white;
  z-index: 1;
  position: relative;
  left: 8.3%;
  top: 8.3%;
  
  
}

.esgOverlay {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0,0,0,0.2); */ /* Change the 0.5 to adjust the transparency */ 
  display: flex;
  color: #fff;
  font-size: 2rem;
  
}

.esgFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 8.3%;
  margin-right: 8.3%;

}

.esgText {
  margin-left: 8.3%;
  margin-right: 8.3%;
}

@media (max-width: 768px) {
  .esgOverlay h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .esgOverlay h2 {
    font-size: 1rem;
  }
}

